@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #C38154;
}

.container{
    background-color: #fff;
    width: 90vmin;
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 0 25px 50px rgba(7,20,35,0.2);
}

.options{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

button{
    height: 28px;
    width: 28px;
    display: grid;
    place-items: center;
    border: none;
    border-radius: 3px;
    background-color: #fff;
    outline: none;
    color: #020929;
}